#root{
  width: min(100%, 500px);
}
.App{
  padding: 20px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 12px 0 #0009;
  box-sizing: border-box;
  justify-self: center;
  }

  .card-one{
    display: flex;
  }
  .quote,
.quote-author{
  text-shadow: 1px 1px 1px #0001;
}
.fa-quote-left{
  font-size: 25px;
}
.quote{
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}
.second-card{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.quote-author{
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}
.button{
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
  border: none;
  box-shadow: 2px 2px 5px 0 #0009;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

